name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.25"
          - "1.24"
          - "1.23"
          - "1.22"
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go }}

      - name: setup MySQL
        uses: shogo82148/actions-setup-mysql@b9917bb49fa1c316abfb6931011d54da7f5470d9 # v1.45.0
        with:
          mysql-version: "8.0"
          root-password: verysecret

      - name: Run tests
        run: |
          go test -v -coverprofile=coverage.txt ./...
        env:
          MYSQLPOOL_USER: root
          MYSQLPOOL_PASS: verysecret
          MYSQLPOOL_HOST: 127.0.0.1
          MYSQLPOOL_PORT: 3306

      - name: Send coverage to codecov.io
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: GO
          root_dir: .
        env:
          GO: ${{ matrix.go }}
