name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.25"
          - "1.24"
          - "1.23"
          - "1.22"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}

      - name: setup MySQL
        uses: shogo82148/actions-setup-mysql@27e74fac04c136a9f4c2dc2ed457df57331b3e0c # v1.47.0
        with:
          mysql-version: "8.0"
          root-password: verysecret

      - name: Run tests
        run: |
          go test -v -coverprofile=coverage.txt ./...
        env:
          MYSQLPOOL_USER: root
          MYSQLPOOL_PASS: verysecret
          MYSQLPOOL_HOST: 127.0.0.1
          MYSQLPOOL_PORT: 3306

      - name: Send coverage to codecov.io
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: GO
          root_dir: .
        env:
          GO: ${{ matrix.go }}
